.ba-container {
	width: 900px;
}
.ba-section-title {
	font-size: 34px;
	text-transform: uppercase;
	line-height: 1;
	letter-spacing: 0.16em;
	margin: 0 0 40px;
	transform: translateY(-50%);
}
p {
	margin: 0 0 25px;
}
.ba-wrapper {
	text-align: center;
	border: solid 2px #3c3c3c;
	border-top: none;
	position: relative;
}
.ba-wrapper:before {
	content: '';
	width: 26.5%;
	height: 2px;
	background-color: #3c3c3c;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}
.ba-wrapper:after {
	content: '';
	width: 26.5%;
	height: 2px;
	background-color: #3c3c3c;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
}
.ba-wrapper--light {
	border-color: #fff;
	color: #fff;
}
.ba-wrapper--light:before {
	background-color: #fff;
}
.ba-wrapper--light:after {
	background-color: #fff;
}
.ba-home {
	font-family: Lato, sans-serif;
	line-height: 1.5;
	font-size: 16px;
	font-weight: 300;
	color: #3c3c3c;
	text-align: center;
}
/* styles for hero section */
.ba-hero {
	background: url(../images/hero-bg.jpg) center center no-repeat;
	background-size: cover;

	padding: 285px 0 115px;
}
.ba-logo {
	margin-bottom: 39px;
	display: inline-block;
}
.ba-site-title {
	color: #fff;
	font-size: 54px;
	text-transform: uppercase;
	width: 600px;
	margin: 34px auto 35px;
	line-height: 1.2;
	letter-spacing: 0.16em;
	font-weight: 700;
}
.ba-site-description {
	color: #fff;
	font-size: 15px;
	text-transform: uppercase;
	line-height: 1.8;
	width: 600px;
	margin: 20px auto 120px;
	letter-spacing: 0.06em;
}
.ba-scroll {
	margin-top: 120px;
	display: inline-block;
	transition:  opacity 0.2s ease-in;
}
.ba-scroll:hover {
	opacity: 0.6;
}
/* main part*/
.ba-about {
	padding: 155px 0 170px;
}

/*ba-services*/
.ba-services {
	
	padding: 115px 0 110px;
	background: url(../images/services.jpg) center center no-repeat;
	background-size: cover;
}
.ba-what {
	padding: 120px 0 138px;
}
.ba-what__item {
	margin-bottom: 55px;
	padding-top: 0px;
}
.ba-what__image {
	margin-top: 50px;
}
.ba-what__title {
	font-size: 20px;
	line-height: 1;
	letter-spacing: 0.16em;
	text-transform: uppercase;
	margin: 35px 0 30px;
}
.ba-what__description {
	letter-spacing: 1;
	font-size: 14px;
	line-height: 1.8;
	color: #000;
}
/* portfolio section*/

.ba-portfolio {
	width: 100wp;
	min-width: 900px;
	max-width: 1920px;
	margin: 0 auto;
}
.ba-portfolio__list {
	font-size: 0;
	padding: 0;
}
.ba-portfolio__item {
	list-style-type: none;
	display: inline-block;
	width: 28.5%;
	margin-top: 0.5%;
	height: 237px;
}
.ba-portfolio__item--big {
	width: 42%;
}
.ba-portfolio__link-cover {
	width: 100%;
	height: 100%;
	text-decoration: none;
	position: relative;
	transition: .25s ease-in;
}
.ba-portfolio__image{
	width: 100%;
	height: 100%;
	
}
.ba-portfolio__item + .ba-portfolio__item--big {
	margin-left: 0.5%;
	margin-right: 0.5%;
}
.ba-portfolio__link {
	font-weight: 700;
	text-transform: uppercase;
	font-size: 34px;
	position: absolute;
	color: #fff;
	left: 49px;
	bottom: 43px;
	letter-spacing: 0.16em;
	
}
.ba-contact {
	padding: 145px 0 70px;
}
.ba-contact__btn {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	text-decoration: none;
	display: inline-block;
	margin-bottom: 50px;
	background-color: #3c3c3c;
	color: #fff;
	padding: 15px 150px;
	letter-spacing: 0.06em;
	transition: 0.25s ease-in;
}
.ba-contact__btn:hover {
	box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.75);
	background-color: #303030;
}
.ba-footer {
	width: 600px;
	margin: 0 auto;
	padding-bottom: 30px;
}
.ba-footer p{
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
	padding-left: 20px;
}
.ba-logo-dark__image {
	display: inline-block;
}
.ba-portfolio:hover .ba-portfolio__link-cover:not(:hover) {
    filter: grayscale(1);
    opacity: .75;
}
